<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parking Trends</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Parking Trends</h1>
    <form id="trendsForm" action="" method="get">
        <div class="row">
            <div class="col-2">
                <label for="timedelta">Time Delta (days):</label>
            </div>
            <div class="col-2">
                <input type="number" id="timedelta" name="timedelta" min="7" value="7">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="button" onclick="submitForm('/occupancy_trends')">View Occupancy</button>
            </div>
            <div class="col-2">
                <button type="button" onclick="submitForm('/')">View Other Trends</button>
            </div>
        </div>
    </form>

    <script>
        function submitForm(action) {
            var form = document.getElementById('trendsForm');
            form.action = action;
            form.submit();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>