<!DOCTYPE html>
<html>
<head>
    <title>Herzlich Willkommen</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }
        form {
            text-align: center;
        }
        img {
            width: 150px; /* Passen Sie die Größe nach Bedarf an */
        }
    </style>
</head>
<body>
    <h1>Herzlich Willkommen</h1>
    <h2>Bitte lösen Sie ein Ticket</h2>
    <form action="/" method="post">
        <input type="hidden" id="model_output" name="model_output" value="[
            {'xmin': 262, 'ymin': 335, 'xmax': 516, 'ymax': 443},
            {'xmin': 267, 'ymin': 128, 'xmax': 502, 'ymax': 243},
            {'xmin': 238, 'ymin': 532, 'xmax': 507, 'ymax': 661},
            {'xmin': 810, 'ymin': 146, 'xmax': 1038, 'ymax': 253},
            {'xmin': 833, 'ymin': 561, 'xmax': 1104, 'ymax': 686},
        ]">
        <button type="submit" style="border: none; background: none;">
            <img src="{{ url_for('static', filename='Automat.jpg') }}" alt="Ticket lösen">
        </button>
    </form>
</body>
</html>
