<!DOCTYPE html>
<html lang="de">

<head>
    <title>Herzlich Willkommen</title>
    <style>
        h1 {
            font-size: 50px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }

        img {
            width: 650px;
        }
    </style>
</head>

<body>
    <h1>Herzlich Willkommen</h1>
    <form id="form" action="/" method="post">
        <input type="hidden" id="model_output" name="model_output" value="[
        {'xmin': 262, 'ymin': 335, 'xmax': 516, 'ymax': 443}, ... ]">
        <button type="submit" style="border: none; background: none;">
            <img src="{{ url_for('static', filename='Automat.jpg') }}" alt="Ticket lösen">
        </button>
    </form>

    <script>
        document.getElementById('form').addEventListener('submit', function (e) {
            e.preventDefault(); // Prevents the form from submitting immediately
            document.body.style.cursor = 'wait';

            // Delay form submission by 500 milliseconds
            setTimeout(function () {
                document.getElementById('form').submit();
            }, 500);
        });
    </script>
</body>

</html>